* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  /* background-color: yellow;
  border: 2px solid red; */
  min-height: 100vh;
  position: relative;
}

input:focus {
  box-shadow: 0 0 4px 1px gray;
  outline: none;
}

#modal {
  display: none;
  background-color: rgba(128, 128, 128, 0.336);
  /* opacity: 0.8; */
  border: 2px solid blue;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

#modal > div {
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  padding: 40px;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h3 {
  margin: 0;
  margin-bottom: 10px;
}

.version {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
}

.checkmark {
  width: 40px;
  height: 40px;
  border: 2px solid green;
  border-radius: 50% 50%;
  margin: 10px;
  padding: 10px;
  color: green;
  font-size: 120%;
  font-weight: bold;
}
