.btn {
  padding: 5px 20px;
  font-size: 32px;
  border: none;
  border-radius: 6px;
  background-color: green;
  color: white;
}

.btn:hover {
  border: 1px solid green;
  background-color: white;
  color: green;
}

@media (hover: hover) {
}

@media (hover: none) {
  .btn:active {
    border: 1px solid green;
    background-color: white;
    color: green;
    /* transition: opacity 1s; */
    /* transition-delay: 500ms; */
    /* transition-duration: 2s; */
    /* box-shadow: 0 0 64px 12px rgba(255, 255, 255, 0.2); */
  }
}
