* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 20px 0 20px;
}

.card {
  border: 3px solid black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 300px;
}

.row {
  border: 1px solid green;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-left: 10px;
  margin-right: 10px;
}

.cell {
  border: 1px solid black;
  min-width: 50%;
  /* height: 50px; */
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-2 {
  border-left: none;
}

.cell-content {
  border: 1px solid purple;
  min-width: 100px;
}
