/* #-BUTTONS */
.btns-group-main {
  display: flex;
  justify-content: space-evenly;
}

#btn-submit,
#btn-reset,
#btn-save {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

#btn-submit,
#btn-reset,
#btn-save {
  border: 1px solid black;
  background-color: rgb(244, 244, 244);
}

#btn-submit:hover,
#btn-submit:active,
#btn-reset:hover,
#btn-submit:active,
#btn-save:hover,
#btn-submit:active {
  border-width: 2px;
  background-color: white;
}

#btn-submit svg,
#btn-reset svg,
#btn-save svg {
  width: 80%;
  height: auto;
}

/* ############ */
/* .btns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  margin: 25px 0 25px 0;
}

.btn {
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.btn--submit {
  background-color: rgb(192, 0, 0);
}

.btn--submit:hover {
  border: 1px solid rgb(192, 0, 0);
  color: rgb(192, 0, 0);
  background-color: white;
}

.btn--reset {
  background-color: rgb(0, 128, 0);
}

.btn--reset:hover {
  border: 1px solid rgb(0, 128, 0);
  color: rgb(0, 128, 0);
  background-color: white;
}

.btn--save {
  background-color: rgb(0, 0, 192);
}

.btn--save:hover {
  border: 1px solid rgb(0, 0, 192);
  color: rgb(0, 0, 192);
  background-color: white;
} */
